.authora_1eTyB5dAfpjYrlgZ {background-color: #6229dd}
.authora_3b64b1zGpBwyTiuY {background-color: #c1a9d9}
.authora_7vr5zGPmk4NTjRBJ {background-color: #7991d9}
.authora_8z08bE8GxWja2Ki5 {background-color: #a9b5d9}
.authora_GqbdX1PMYu7ORIjM {background-color: #c7ff8f}
.authora_HgwApCGxk1A8Ibog {background-color: #a9b5d9}
.authora_JWnUugr7aiqjtU2s {background-color: #efe38f}
.authora_RXasDtPvXuknrQG1 {background-color: #e0ce29}
.authora_Uaj3GFcmlUsTLyI1 {background-color: #a979d9}
.authora_VB8tzEetPGDiKG1v {background-color: #ff8f8f}
.authora_W7vcl465n7ZdUxWl {background-color: #8fffff}
.authora_aH1wQcCbF5pk8EjL {background-color: #d9a9a9}
.authora_eaX9tfk80zCONX6A {background-color: #69e0ea}
.authora_gR2K1vOYfmMUJnYV {background-color: #ceaaaa}
.authora_ol1J8K6IvXMLAchD {background-color: #d9a9a9}
.authora_oyHN73PA4Nyloz5s {background-color: #3185ab}
.authora_sGjhmZRYgMClhZRU {background-color: #c7ffff}
.authora_z5uL9bKyNbICVqav {background-color: #a06060}
.removed {text-decoration: line-through; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); opacity: 0.8; }
